@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../img/fondo.jpg); }

h1, h2 {
  color: red;
  text-decoration: underline;
  text-align: center;
  margin: auto;
  padding: 15px; }

a {
  text-decoration: none;
  color: white;
  list-style: none; }

label {
  background-color: #312a28;
  color: white;
  font-size: 2rem; }

h3 {
  color: burlywood;
  font-size: 2rem;
  font-family: 'Carrois Gothic SC', sans-serif;
  text-align: center; }

.centrado, .nombre-index, .img-contacto, .videoHome {
  display: flex;
  justify-content: center; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "logo logo . . nav nav nav nav" ". discografia discografia discografia discografia discografia discografia ." ". discografia discografia discografia discografia discografia discografia ." ". discografia discografia discografia discografia discografia discografia ." ". discografia discografia discografia discografia discografia discografia ." ". . . . social social social social"; }

.logo {
  grid-area: logo; }

.nav {
  grid-area: nav; }

.discografia {
  grid-area: discografia;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.menu-lista {
  display: inline-block;
  padding: 10px 15px 10px 15px;
  margin: 10px 15px 10px 15px;
  border: 1px solid brown; }
  .menu-lista:hover {
    transition: 0.5;
    transform: scale(1.2); }

.resaltado {
  background-color: gray;
  border: white 1px solid;
  color: black !important; }

.activa {
  border-bottom: 1px solid; }

.body__header__nav__img {
  float: left; }

.labelOnImage, .label-titulo {
  position: absolute;
  bottom: 20%;
  font-size: 4vh;
  padding: 2%; }

.label-titulo {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Carrois Gothic SC', sans-serif; }

.nombre-index {
  margin: auto auto; }

.img-contacto {
  position: relative;
  margin: 5% auto;
  text-align: center; }
  .img-contacto img {
    width: 70vw;
    height: auto; }

.footer__social {
  grid-area: social;
  margin: 3%; }
  .footer__social a {
    padding: 1%; }

.footer__social__a:hover {
  transition: 0.5s;
  transform: rotate(360deg) scale(2);
  color: chocolate; }

.container__row__carousel-inner__carousel-item {
  height: 40vh;
  overflow: hidden; }
  .container__row__carousel-inner__carousel-item img {
    width: 50vh; }

.videoHome {
  padding: 3% 0 3% 0; }

.slide {
  margin: 5%; }

.discografia__album {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin: 1% 4%; }
  .discografia__album h3:hover {
    transition: 0.5;
    transform: scale(1.2); }
  .discografia__album img {
    width: 350px; }
  .discografia__album img:hover {
    transition: 0.5;
    transform: scale(1.2);
    border: red 1px solid; }
  .discografia__album li {
    display: block;
    padding: 5px;
    margin: 5px;
    border: 1px solid brown; }
    .discografia__album li:hover {
      transition: 0.5;
      transform: scale(1.2); }

.discografia__album__titulo-album {
  width: 100%;
  display: block;
  background-color: dimgray;
  color: burlywood;
  text-align: center !important; }

.temas li {
  display: block; }

.infografia img {
  margin: 7% 1%; }

.infografia .infografia__card {
  background-color: transparent;
  color: white;
  padding: 2%; }
  .infografia .infografia__card .infografia__card__members {
    display: flex;
    justify-content: flex-end; }

.infografia .infografia__banda {
  max-width: 90%;
  width: auto;
  margin: auto auto; }

.infografia .infografia__parrafo {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden; }

.infograf {
  display: flex;
  justify-content: space-around; }

.tour__card {
  background-color: transparent;
  color: white;
  display: flex;
  justify-self: center;
  flex-direction: row; }
  .tour__card img {
    height: 20%;
    width: 20%; }
  .tour__card .card-body {
    display: inline; }
  .tour__card span {
    color: burlywood; }

.tour {
  display: flex;
  justify-content: space-around; }

.formulario label {
  font-size: 3vh !important; }

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  margin: 10px; }

.novedades img {
  padding: 10px 15px 10px 15px;
  margin: 10px 15px 10px 15px; }

.novedades_card {
  background-color: lightslategray;
  color: #fff; }

.page404 {
  position: relative;
  background-image: url(../img/404.jpg);
  background-color: #fff;
  height: 100vh;
  background-size: cover; }

.mensaje-404 {
  display: inline-block;
  padding: 20px 150px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  top: 32%;
  left: 10%;
  color: white; }
  .mensaje-404 .err-404 {
    -webkit-text-stroke: 2px black;
    font-size: 8rem; }
  .mensaje-404 .mensaje-error {
    -webkit-text-stroke: 1px;
    font-size: 2.5rem; }
